
import yfinance as yf

# Define the symbol and date range
symbol = "GC=F"  # XAU/USD symbol on Yahoo Finance
start_date = "2020-01-01"
end_date = "2022-01-01"

# Fetch historical data from Yahoo Finance
df = yf.download(symbol, start=start_date, end=end_date)

# Save the data as a CSV file
df.to_csv("XAUUSD_historical_data.csv")

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
from ipywidgets import FileUpload
import pandas as pd

In [3]:
uploader = FileUpload(accept='XAUUSD_historical_data-2019-2020.csv')  # You can specify allowed file types here

In [4]:
data = pd.read_csv('XAUUSD_historical_data-2019-2020.csv')

In [5]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,1286.000000,1286.000000,1277.599976,1281.000000,1281.000000,149
1,2019-01-03,1286.800049,1292.000000,1286.699951,1291.800049,1291.800049,10
2,2019-01-04,1294.199951,1294.199951,1275.300049,1282.699951,1282.699951,34
3,2019-01-07,1286.800049,1286.800049,1286.599976,1286.800049,1286.800049,2
4,2019-01-08,1280.500000,1283.199951,1278.199951,1283.199951,1283.199951,54
...,...,...,...,...,...,...,...
247,2019-12-24,1488.699951,1499.099976,1488.699951,1499.099976,1499.099976,52
248,2019-12-26,1505.199951,1512.300049,1505.000000,1509.300049,1509.300049,126
249,2019-12-27,1513.800049,1513.800049,1513.800049,1513.800049,1513.800049,839
250,2019-12-30,1512.599976,1515.099976,1510.000000,1514.500000,1514.500000,446
251,2019-12-31,1513.800049,1523.400024,1513.800049,1519.500000,1519.500000,301

In [6]:
data['Date'] = pd.to_datetime(data['Date'])
data['Date'] = data['Date'].apply(lambda x: x.timestamp())

In [7]:
x = data[['Date', 'Open']]
y = data['Close']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [9]:
model = LinearRegression()
model.fit(x_train, y_train, )

LinearRegression()

In [10]:
predictions = model.predict(x_test)

mae = metrics.mean_absolute_error(y_test, predictions)
r2 = metrics.r2_score(y_test, predictions)

print('Mean Absolute Error:', mae)
print('R.squared score:', r2)

Mean Absolute Error: 8.009100662754824
R.squared score: 0.9854509875100542

In [13]:
def predict_price(data_str, open_price):
  date = pd.to_datetime(data_str).timestamp()
  return model.predict([[date, open_price]])[0]

data_str = input("Enter date in format yyyy-mm-dd: ")
open_price = float(input("Enter opening price: "))

predicted_close_price = predict_price(data_str, open_price)

print(f"The predicted closing price for the data {data_str} and opening price {open_price} is {predicted_close_price}")

Enter date in format yyyy-mm-dd: 2020-01-07
Enter opening price: 1558.3
The predicted closing price for the data 2020-01-07 and opening price 1558.3 is 1557.6945089562644

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(